{{ form_start(form) }}

<div class="register-form">

	<div class="aligned-input">
		<div class="form-group">
			<label for="registration_form[company]" class="form-group-label">
				<strong>{{ form_label(form.company) }}</strong>
			</label>
			{{ form_widget(form.company) }}
			<div class="input-error">{{ form_errors(form.company) }}</div>
		</div>
		<button type="submit" class="btn btn-dark submit-form-button">Save</button>
	</div>


</div>

{{ form_end(form) }}
