{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">My jobs</h1>
		<div class="profil">

			{% if jobs|length <= 0 %}
				<div class="message-info">You didn't create job opportunities yet.</div>
				<div class="buttons-group">
					<a class="btn btn-dark" href="{{ path('job_new') }}">New job</a>
				</div>
			{% else %}
				<ul class="profil-info">
					<div class="buttons-group">
						<a class="btn btn-dark" href="{{ path('job_new') }}">New job</a>
					</div>
					{% for job in jobs %}
						<li class="card-job card-job-link">
							<h2 class="card-job-title">
								<strong>{{ job[0].name }}</strong>
							</h2>
							<h4>{{ job[0].type.name }}</h4>
							<div class="card-job-info">
								{% if job[0].location is not null and job[0].departement is not null %}
									<div>{{ job[0].location }}
										({{ job[0].departement }})</div>
								{% endif %}
								<div>Updated on
									{{ job[0].updatedAt|date("m/d/Y") }}</div>
								<div class="buttons-group">
									<a class="btn btn-dark" href="{{ path('job_show', {'id': job[0].id}) }}">See</a>
									{# if job[1] > 0 #}
									{% if true %}
										<a class="btn btn-dark" href="{{ path('application_index', {'job_id': job[0].id}) }}">See candidats ({{ job[1]}})</a>
									{% else %}
										<a class="btn btn-dark">No candidat yet</a>
									{% endif %}
									<a class="btn btn-dark" href="{{ path('job_edit', {'id': job[0].id}) }}">Edit</a>
									{% include 'job/_delete_form.html.twig' with { job : job[0] } %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>

			{% endif %}
		</div>
	</div>
{% endblock %}
