{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">My profile</h1>
		<div class="profil">

			<ul class="profil-info">
				<li>Email:
					<strong>{{ user[0][0].email }}</strong>
				</li>
				<li>Company:
					<strong>{{ user[0][0].company }}</strong>
				</li>
			</ul>

			<div class="small-blank-divider"></div>

			<a href="{{ path('proflil_edit') }}">
				<button class="btn btn-dark">Edit my profile</button>
			</a>
			<div class="tiny-blank-divider"></div>
			<a href="{{ path('home') }}">
				<button class="btn btn-dark">Change my password</button>
			</a>

			<div class="profil-count">Job count :
				<a href={{ path('my_jobs') }}>{{ user[0][1] }}</a>
			</div>

			{% include 'profil/_delete_form.html.twig' with { 'userId' :user[0][0].id } %}
		</div>
	</div>
{% endblock %}
