{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>

		<h1>Register as candidat</h1>

		{{ form_start(registrationForm) }}

		<div class="register-form">

			<div class="aligned-input">
				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.email) }}</strong>
					</span>
					{{ form_widget(registrationForm.email) }}
					<div class="input-error">{{ form_errors(registrationForm.email) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.password.first) }}</strong>
					</span>
					{{ form_widget(registrationForm.password.first) }}
					{% if form_errors(registrationForm.password.first) is same as('') %}
						<small id="passwordHelp" class="form-text text-muted">{{ form_help(registrationForm.password.first) }}</small>
					{% endif %}
					<div class="input-error">{{ form_errors(registrationForm.password.first) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.password.second) }}</strong>
					</span>
					{{ form_widget(registrationForm.password.second) }}
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.captcha) }}</strong>
					</span>
					<div>
						{{ form_widget(registrationForm.captcha) }}
					</div>
					<div class="input-error">{{ form_errors(registrationForm.captcha) }}</div>
				</div>
			</div>

			<span class="register-info">The following informations are not required,<br/>
				but helps recruters having crucials informations when applying to jobs.</span>

			<div class="aligned-input">
				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.name) }}</strong>
					</span>
					{{ form_widget(registrationForm.name) }}
					<div class="input-error">{{ form_errors(registrationForm.name) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.surname) }}</strong>
					</span>
					{{ form_widget(registrationForm.surname) }}
					<div class="input-error">{{ form_errors(registrationForm.surname) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.birthday) }}</strong>
					</span>
					{{ form_widget(registrationForm.birthday) }}
					<div class="input-error">{{ form_errors(registrationForm.birthday) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.phone) }}</strong>
					</span>
					{{ form_widget(registrationForm.phone) }}
					<div class="input-error">{{ form_errors(registrationForm.phone) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.country) }}</strong>
					</span>
					{{ form_widget(registrationForm.country) }}
					<div class="input-error">{{ form_errors(registrationForm.country) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.city) }}</strong>
					</span>
					{{ form_widget(registrationForm.city) }}
					<div class="input-error">{{ form_errors(registrationForm.city) }}</div>
				</div>

				<div class="form-group">
					<span class="form-group-label">
						<strong>{{ form_label(registrationForm.departement) }}</strong>
					</span>
					{{ form_widget(registrationForm.departement) }}
					<div class="input-error">{{ form_errors(registrationForm.departement) }}</div>
				</div>

				<button type="submit" class="btn btn-dark submit-form-button">Register</button>
			</div>

		</div>
		{{ form_end(registrationForm) }}

		<div class="small-blank-divider"></div>
	</div>
{% endblock %}
