{{ form_start(form) }}

<div class="job-form">

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.name) }}</strong>
		</span>
		{{ form_widget(form.name) }}
		<div class="input-error">{{ form_errors(form.name) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.company) }}</strong>
		</span>
		{{ form_widget(form.company) }}
		<div class="input-error">{{ form_errors(form.company) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.type) }}</strong>
		</span>
		{{ form_widget(form.type) }}
		<div class="input-error">{{ form_errors(form.type) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.category) }}</strong>
		</span>
		{{ form_widget(form.category) }}
		<div class="input-error">{{ form_errors(form.category) }}</div>
	</div>

	<div class="form-group-big">
		<span class="form-group-label">
			<strong>{{ form_label(form.description) }}</strong>
		</span>
		{{ form_widget(form.description) }}
		<div class="input-error">{{ form_errors(form.description) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.experienceNeeded) }}</strong>
		</span>
		{{ form_widget(form.experienceNeeded) }}
		<div class="input-error">{{ form_errors(form.experienceNeeded) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.pay) }}</strong>
		</span>
		{{ form_widget(form.pay) }}
		<div class="input-error">{{ form_errors(form.pay) }}</div>
	</div>

	<div class="form-group">
		<span class="form-group-label">
			<strong>{{ form_label(form.isRemote) }}</strong>
		</span>
		{{ form_widget(form.isRemote) }}
		<div class="input-error">{{ form_errors(form.isRemote) }}</div>
	</div>

	{% if form.location and form.departement %}
		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.location) }}</strong>
			</span>
			{{ form_widget(form.location) }}
			<div class="input-error">{{ form_errors(form.location) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.departement) }}</strong>
			</span>
			{{ form_widget(form.departement) }}
			<div class="input-error">{{ form_errors(form.departement) }}</div>
		</div>
	{% endif %}

	<button type="submit" class="btn btn-dark submit-form-button">Save</button>
</div>
{{ form_end(form) }}
