{% extends 'base.html.twig' %}

{% block title %}Job
{% endblock %}

{% block body %}

	<ul class="profil-info">
		<div class="card-job-link">
			<li class="card-job-single">
				<div class="card-job-title">
					<h2 class="title-section">
						<strong>{{ job.name }}</strong>
					</h2>
					<h4>{{ job.company}}</h4>
					<h4>{{ job.type.name }}</h4>
				</div>
				<div class="card-job-description">{{ job.description }}..</div>
				<div class="card-job-info">
					{% if job.location is not null and job.departement is not null %}
						<div>
							{{ job.location }}
							({{ job.departement }})
						</div>
					{% endif %}
					{% if job.isRemote is same as(true) %}
						<div>Remote work</div>
					{% endif %}
					{% if job.pay is not null %}
						<div>Estimate incomes:
							{{ job.pay }}€/y
						</div>
					{% endif %}
					{% if job.experienceNeeded is not null %}
						<div>{{ job.experienceNeeded }}
							year(s) of experience needed</div>
					{% endif %}
					<div>Last updated:
						{{ job.updatedAt|date("m/d/Y") }}</div>
				</div>

			</li>
		</div>
	</ul>

	{% if is_granted('JOB_EDIT', job) %}
		<a href="{{ path('job_edit', {'id': job.id}) }}">Edit</a>
		<a href="{{ path('job_delete', {'id': job.id}) }}">Delete</a>
		<a href="{{ path('job_show', {'id': job.id}) }}">See candidats</a>
	{% endif %}

{% endblock %}
