{% extends 'base.html.twig' %}

{% block title %}Job
{% endblock %}

{% block body %}

	<ul class="profil-info">
		<div class="card-job-link">
			<li class="card-job-single">
				<h2>
					<strong>{{ job.name}}</strong>
				</h2>
				<h4 class="card-job-title">{{ job.company}}</h4>
				<div class="card-job-description">{{ job.description }}..</div>
				<div class="card-job-info">
					{% if job.location is not null and job.departement is not null %}
						{{ job.location }}
						({{ job.departement }})
					{% endif %}
				</div>
				{% if job.pay is not null %}
					<div>Estimate incomes:
						{{ job.pay }}€/y
					</div>
				{% endif %}
				{% if job.isRemote is same as(true) %}
					<div>Remote work</div>
				{% endif %}
				{% if job.experienceNeeded is not null %}
					<div>{{ job.experienceNeeded }}
						year(s) of experience needed.</div>
				{% endif %}
				<div>Last updated:
					{{ job.updatedAt|date("m/d/Y") }}</div>
			</li>
		</div>
	</ul>

	{% if is_granted('JOB_EDIT') %}
		<a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>
		<a href="{{ path('job_delete', {'id': job.id}) }}">delete</a>
	{% endif %}

{% endblock %}
