{{ form_start(form) }}

<div class="register-form">

	<span class="profil-info">The following informations are not required,<br/>
		but helps recruters having crucials informations when applying to jobs.</span>

	<div class="aligned-input">
		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.name) }}</strong>
			</span>
			{{ form_widget(form.name) }}
			<div class="input-error">{{ form_errors(form.name) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.surname) }}</strong>
			</span>
			{{ form_widget(form.surname) }}
			<div class="input-error">{{ form_errors(form.surname) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.birthday) }}</strong>
			</span>
			{{ form_widget(form.birthday) }}
			<div class="input-error">{{ form_errors(form.birthday) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.phone) }}</strong>
			</span>
			{{ form_widget(form.phone) }}
			<div class="input-error">{{ form_errors(form.phone) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.country) }}</strong>
			</span>
			{{ form_widget(form.country) }}
			<div class="input-error">{{ form_errors(form.country) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.city) }}</strong>
			</span>
			{{ form_widget(form.city) }}
			<div class="input-error">{{ form_errors(form.city) }}</div>
		</div>

		<div class="form-group">
			<span class="form-group-label">
				<strong>{{ form_label(form.departement) }}</strong>
			</span>
			{{ form_widget(form.departement) }}
			<div class="input-error">{{ form_errors(form.departement) }}</div>
		</div>
		<button type="submit" class="btn btn-dark submit-form-button">Save</button>
	</div>

</div>
{{ form_end(form) }}
