{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1>My applications</h1>
		<div class="profil">

			{% if applications|length <= 0 %}
				<div>You didn't apply to a job yet.</div>
			{% else %}

				<ul class="profil-info">
					{% for application in applications %}
						<a href="{{ path('job_show', {'id': application.job.id}) }}" class="card-job-link">
							<li class="card-job">
								<h2 class="card-job-title">
									<strong>{{ application.job.name}}</strong>
								</h2>
								<div class="card-job-description">{{ application.job.description|slice(0, 200) }}..</div>
								<div class="card-job-info">{{ application.job.location }}
									({{ application.job.departement }}) - Applied on
									{{ application.createdAt|date("m/d/Y") }}</div>
							</li>
						</a>
					{% endfor %}
				</ul>

			{% endif %}
		</div>
	</div>
{% endblock %}
