{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">My applications</h1>
		<div class="profil">

			<ul class="profil-info">

				<h4 class="card-job-title">{{ applications.getTotalItemCount }}
					applications(s) in total.</h4>

				{% for application in applications %}
					<a href="{{ path('job_show', {'slug': application.job.slug}) }}" class="card-job-link">
						<li class="card-job">
							<h2>
								<strong>{{ application.job.name}}</strong>
							</h2>
							<h4 class="card-job-title">{{ application.job.company}}</h4>
							<h4>{{ application.job.type.name }}</h4>
							<div class="card-job-info">
								<div>
									{% if application.job.location is not null and application.job.departement is not null %}
										{{ application.job.location }}
										({{ application.job.departement }})
									</div>
								{% endif %}
								<div>
									Applied on
									{{ application.createdAt|date("m/d/Y") }}</div>
							</div>
						</li>
					</a>

				{% else %}
					<div>You didn't apply to a job yet.</div>

				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="navigation">
		{{ knp_pagination_render(applications) }}
	</div>
{% endblock %}
