{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1>My profile</h1>
		<div class="profil">

			<ul class="profil-info">
				<li>Email:
					<strong>{{ user[0][0].email }}</strong>
				</li>
				{% if user[0][0].name %}
					<li>Name:
						<strong>{{ user[0][0].name }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].surname %}
					<li>Surname:
						<strong>{{ user[0][0].surname }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].birthday %}
					<li>Birthday:
						<strong>{{ user[0][0].birthday|date("m/d/Y") }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].phone %}
					<li>Phone:
						<strong>{{ user[0][0].phone }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].country %}
					<li>Country:
						<strong>{{ user[0][0].country }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].city %}
					<li>City:
						<strong>{{ user[0][0].city }}</strong>
					</li>
				{% endif %}
				{% if user[0][0].departement %}
					<li>Departement:
						<strong>{{ user[0][0].departement }}</strong>
					</li>
				{% endif %}
			</ul>

			<span class="log-info">These informations are only shown to the recruter when applying for a job.</span><br/>
			<div class="small-blank-divider"></div>


			<a href="{{ path('proflil_edit') }}">
				<button class="btn btn-dark">Edit my profile</button>
			</a>

			<div class="tiny-blank-divider"></div>

			<a href="{{ path('home') }}">
				<button class="btn btn-dark">Change my password</button>
			</a>

			<div class="profil-count">Application count :
				<a href={{ path('my_applications') }}>{{ user[0][1] }}</a>
			</div>

		</div>
	</div>
{% endblock %}
