{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">All candidat(s) for
			{{ job.name }}</h1>
		<div class="profil">
			<ul class="profil-info">
				{% if applications %}
					<div class="card-job-title">{{ applications|length }}
						candidat(s).</div>
				{% else %}
					<div class="card-job-title">There's no candidat for this job yet.</div>
				{% endif %}

				{% for application in applications %}
					<li class="card-job card-job-link">
						<h2>
							<strong>{{ application.candidat.name }}
								{{ application.candidat.surname }}</strong>
						</h2>
						<div>
							Applied on
							{{ application.createdAt|date("m/d/Y") }}</div>
						<a class="btn btn-dark" href="{{ path('application_show', {'job_id' : job.id, 'id': application.id}) }}">Show</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
