{% extends 'base.html.twig' %}

{% block body %}
	<ul class="profil-info">
		<div class="card-job-link">
			<li class="card-job-single">
				<div class="card-job-title">
					<h4>Name:
						<strong>{{ application.candidat.name }}
							{{ application.candidat.surname }}</strong>
					</h4>
					<h4>Email:
						<strong>{{ application.candidat.email }}</strong>
					</h4>
					<h4>Birthday:
						<strong>{{ application.candidat.birthday|date() }}</strong>
					</h4>
					<h4>Phone:
						<strong>{{ application.candidat.phone }}</strong>
					</h4>
					<h4>Country:
						<strong>{{ application.candidat.country }}</strong>
					</h4>
					<h4>City:
						<strong>{{ application.candidat.city }}</strong>
					</h4>
					<h4>Department:
						<strong>{{ application.candidat.departement }}</strong>
					</h4>
					<h4>
						<strong>Applied on:
							{{ application.createdAt ? application.createdAt|date('Y-m-d H:i:s') : 'Today' }}</strong>
					</h4>
				</div>

				<div class="tiny-blank-divider"></div>

				<div class="card-job-info">
					<div>{{ application.description }}</div>

					<div class="tiny-blank-divider"></div>

					{% for file in application.files %}
						<div>{{ file.name }}</div>
					{% else %}
						No file in the application
					{% endfor %}
				</div>

				<div class="tiny-blank-divider"></div>

				<a href="{{ path('application_index', {'job_id' : job.id}) }}">Back to all candidats</a>
			</li>
		</div>
	</ul>
{% endblock %}
