{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<h1 class="title-section">Candidat for
			{{ job.name }}</h1>
		<div class="profil">
			<ul class="profil-info">
				<div class="card-job-link">
					<li class="card-job-single">
						<div class="card-job-title">

							<h4>Email:
								<strong>{{ application.candidat.email }}</strong>
							</h4>

							{% if application.candidat.name %}
								<h4>Name:
									<strong>{{ application.candidat.name }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.surname %}
								<h4>Surname:
									<strong>{{ application.candidat.surname }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.birthday %}
								<h4>Birthday:
									<strong>{{ application.candidat.birthday|date('Y/m/d') }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.phone %}
								<h4>Phone:
									<strong>{{ application.candidat.phone }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.country %}
								<h4>Country:
									<strong>{{ application.candidat.country }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.city %}
								<h4>City:
									<strong>{{ application.candidat.city }}</strong>
								</h4>
							{% endif %}

							{% if application.candidat.departement %}
								<h4>Department:
									<strong>{{ application.candidat.departement }}</strong>
								</h4>
							{% endif %}

							<h4>
								<strong>Applied on:
									{{ application.createdAt ? application.createdAt|date('Y-m-d') : 'Today' }}</strong>
							</h4>
						</div>

						<div class="tiny-blank-divider"></div>

						<div class="card-job-info">
							<div>{{ application.description }}</div>

							<div class="small-blank-divider"></div>
							<div class="small-blank-divider"></div>

							{% for file in application.files %}
								<span>File
									{{ loop.index }}:
									<a href="{{ path('application_file', { 'job_slug' : job.slug, 'slug': application.slug, 'file_name': file.name }) }}" target="_blank">{{ file.originalName }}
										({{ file.fileExtension }})</a>
								</span>
							{% else %}
								The candidat applied without any file.
							{% endfor %}
						</div>

						<div class="small-blank-divider"></div>
						<div class="small-blank-divider"></div>
						<div class="small-blank-divider"></div>

						<a class="btn btn-dark" href="{{ path('message_new', {'user' : application.candidat}) }}">Send a message</a>
						<div class="small-blank-divider"></div>
						<a class="btn btn-dark" href="{{ path('application_index', {'job_slug' : job.slug}) }}">Back to all candidats</a>

					</li>
				</div>
			</ul>
		</div>
	</div>
{% endblock %}
