{{ form_start(form) }}
<div>
	<span>
		<strong>{{ form_label(form.content) }}</strong>
	</span>
	{{ form_widget(form.content) }}
	<div class="input-error">{{ form_errors(form.content) }}</div>
</div>

<button type="submit" class="btn btn-dark submit-form-button">Send</button>
{{ form_end(form) }}
