{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-page">
		<div class="tiny-blank-divider"></div>
		<ul>
			{% for message in messages %}
				<li class="message-item">
					<h3>{{ message.sender.name }}
						<div>{{ message.createdAt|date("") }}</div>
					</h3>
					<h3>{{ message.sender.surname }}</h3>
					<div>{{ message.content }}</div>
				</li>
			{% else %}
				<span>No message yet.</span>
			{% endfor %}
		</ul>

		{{ include('message/_form.html.twig') }}

		<a href="{{ path('conversation_index') }}">Back</a>

		<div class="small-blank-divider"></div>
	</div>
{% endblock %}
